* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text {
  font-size: 20px;
}

@media not screen and (min-width: 600px) {
  .text {
    color: green;
  }
}

@media only screen {
  .text {
    text-decoration: underline;
  }
}
