@import "./../Unit-22/styles.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#profile-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* 
article + article {
  margin-left: 10px;
} */

@media screen and (orientation: landscape) {
  .profile-card {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(45deg, rosybrown, white);
  }

  .clipped-image {
    width: 85%;
  }
  h1 {
    align-self: flex-end;
    color: white !important;
  }
}
