@import url(./assets/css/fonts.css);
@import url(./assets/css/reset.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  font-family: "OpenSans", "sans-serif";
}

.font_reg {
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.font_reg_ital {
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
}

.font_bold {
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

.font_bold_ital {
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
}

div + div {
  margin-top: 30px;
}
/* 
xs <576px	 extra small
sm ≥576px	 small
md ≥768px	 
lg ≥992px	
xl ≥1200px	
xxl ≥1400px */

/* mobile first

  desctop first*/
/*
adaptive methods

em rem
%
vh vw vmin vmax
flexible box

media-queries
@media

px

*/
/* mobile first: */
/* :root {
  font-size: 10px;
} */

@media screen and (min-width: 576px) {
  :root {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  :root {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    font-size: 24px;
  }
}
