@import "./assets/css/fonts.css"; /*always execute*/
@import "./assets/css/reset.css";
/* @import "./assets/css/screen.css" screen;
@import "./assets/css/print.css" print; */
@import "./assets/css/screen_print.css" screen, print;
@import "./assets/css/screen_print.css" not speech;

/* @import <"source"> <media-query/-ies> 
print
all
screen
speech */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text {
  font-size: 10px;
}

@media screen {
  .text {
    color: blue;
  }
}

@media screen and (width: 600px) {
  .text {
    border: 1px solid black;
  }
}

@media print and (color: 3) {
  .text {
    text-decoration: underline;
  }
}
